<div>
    <div
      class="flex w-full flex-wrap items-center justify-between rounded-2xl px-12 py-6 md:flex-nowrap"
      style="
        background-color: url('https://www.transparenttextures.com/patterns/cubes.png');
        background-image: linear-gradient(
          to right top,
          #cf4af3,
          #e73bd7,
          #f631bc,
          #fd31a2,
          #ff3a8b,
          #ff4b78,
          #ff5e68,
          #ff705c,
          #ff8c51,
          #ffaa49,
          #ffc848,
          #ffe652
        );
      "
    >
      <div>
        <h3 class="m-0 flex items-center text-lg font-medium">
          Hoteles
        </h3>
        <div class="my-4 overflow-hidden text-sm font-normal text-white">
          Gestión de hoteles.
        </div>
      </div>
      <img
        class="w-24 object-cover object-center md:w-44"
        src="assets/images/hotelIcono.png"
        alt=""
      />
    </div>
</div>
