<div>
    <div
      class="flex w-full flex-wrap items-center justify-between rounded-2xl px-12 py-6 md:flex-nowrap"
      style="
        background-color: url('https://www.transparenttextures.com/patterns/cubes.png');
        background-image: linear-gradient(
          to right top,
          #42a5f5,
          #1e88e5,
          #1565c0,
          #0d47a1,
          #002171
        );
      "
    >
      <div>
        <h3 class="m-0 flex items-center text-lg font-medium">
          Editar habitación
        </h3>
        <div class="my-4 overflow-hidden text-sm font-normal text-white">
          Editando la habitación con id -> {{ habitacion.id }}
        </div>
      </div>
      <img
        class="w-24 object-cover object-center md:w-44"
        src="assets/images/hotelIcono.png"
        alt=""
      />
    </div>
  
    <form (ngSubmit)="editarHabitacion()" class="mt-6">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="numeroHabitacion" class="block">Número de habitación</label>
          <input
            id="numeroHabitacion"
            type="text"
            [(ngModel)]="habitacion.numeroHabitacion"
            name="numeroHabitacion"
            class="w-full p-2 rounded-md bg-gray-700"
            required
          />
        </div>
        <div>
          <label for="tipo" class="block">Tipo</label>
          <input
            id="tipo"
            type="text"
            [(ngModel)]="habitacion.tipo"
            name="tipo"
            class="w-full p-2 rounded-md bg-gray-700"
            required
          />
        </div>
        <div>
          <label for="precioNoche" class="block">Precio por noche</label>
          <input
            id="precioNoche"
            type="number"
            [(ngModel)]="habitacion.precioNoche"
            name="precioNoche"
            class="w-full p-2 rounded-md bg-gray-700"
            required
          />
        </div>
      </div>
  
      <div class="mt-6 flex justify-center space-x-4">
        <button class="bg-red-500 text-white p-2 rounded-md" [routerLink]="['/admin/habitaciones']">
          Volver
        </button>
        <button type="submit" class="bg-blue-500 text-white p-2 rounded-md">
          Editar
        </button>
      </div>
    </form>
  </div>
  