<div>
  <sidebar-item-section name="Entidades">
    <sidebar-item title="Hoteles" routerLink="/admin/hoteles">
      <img class="mr-4 h-7 w-7 rounded" src="assets/images/hotelIcono.png" alt="Icono de hotel"  style="filter: brightness(0) invert(1);"/>
    </sidebar-item>
    <sidebar-item title="Habitaciones" routerLink="/admin/habitaciones">
      <img class="mr-4 h-7 w-7 rounded" src="assets/images/habitacion.png" alt="Icono de hotel"  style="filter: brightness(0) invert(1);"/>

    </sidebar-item>
    <sidebar-item title="Huéspedes" routerLink="/admin/huespedes">
      <img class="mr-4 h-7 w-7 rounded" src="assets/images/huesped.png" alt="Icono de hotel"  style="filter: brightness(0) invert(1);"/>
    </sidebar-item>
    <sidebar-item title="Servicios" routerLink="/admin/servicios">
      <img class="mr-4 h-7 w-7 rounded" src="assets/images/piscina.png" alt="Icono de hotel"  style="filter: brightness(0) invert(1);"/>
    </sidebar-item>
  </sidebar-item-section>

</div>
